In [16]:
#import Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loding Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [17]:
df_US_pivot = df_US.pivot_table(index='job_posted_month', columns='job_title_short', aggfunc='size')
df_US_pivot.reset_index()

NameError: name 'df_US' is not defined

In [14]:
df_US_pivot.reset_index(inplace=True)
df_US_pivot['month_no'] = pd.to_datetime(df_US_pivot['job_posted_month'], format = '%B').dt.month

df_US_pivot.sort_values('month_no', inplace=True)
df_US_pivot.set_index('job_posted_month', inplace= True)
df_US_pivot.drop(columns= 'month_no', inplace = True)

NameError: name 'df_US_pivot' is not defined

In [10]:
df_US_software_pivot = pd.read_csv('https://lukeb.co/software_csv', index_col = 'job_posted_month')
df_US_software_pivot

,Front-End Developer,Back-End Developer,Full-Stack Developer,UI/UX Designer
job_posted_month,,,,
January,13619,9827,5108,4348
February,11456,9116,7298,4284
March,11102,8178,5814,4159
April,14037,9209,7232,4220
May,12126,8864,6718,4980
June,12003,8065,5902,4781
July,11914,8061,6839,4344
August,11571,8191,7413,4104
September,14016,8447,6139,4094
October,11419,8476,5026,4389
November,13771,9034,5653,4099
December,14033,9232,6731,4367

In [11]:
df_US_pivot.merge(df_US_software_pivot, on="job_posted_month")

NameError: name 'df_US_pivot' is not defined